* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

#cont-img {
    height: 80%;
}

#image {
    height: 100%;
}

.arrow {
    color: rgba(255, 255, 255, 0.5);
    font-size: 80px;
    margin: 0 50px;
}

.arrow:hover {
    color: white;
}

#barTime {
    height: 1%;
    background-color: white;
}

#dots {
    position: absolute;
    bottom: 15%;
}

#dot {
    color: rgba(255, 255, 255, 0.5);
    display: inline;
    margin: 0 30px;
}

#dot.selected {
    color: white;
}
