<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Slider</title>
</head>
<body>
    
    <div id="app">

        <div id="back" class="arrow" @click="back"><span class="iconify" data-icon="ion-chevron-back-outline" data-inline="false"></span></div>

        <div id="paused" @click="pause = !pause">

            <template v-if="!pause">
                <i class="far fa-pause-circle"></i>
            </template>

            <template v-else>
                <i class="far fa-play-circle"></i>
            </template>
            
        </div>

        

        <div id="cont-img">
            <div id="barTime"></div>
            <img id="image" :src="photos[counter]">
            <!-- <div id="popInfo" v-if="pause">
                <h1>https://unsplash.com/@pawel_czerwinski</h1>
            </div> -->
            
        </div>

        
        
        <div id="next" class="arrow"  @click="next"><span class="iconify" data-icon="ion:chevron-forward" data-inline="false"></span></div>

        <div id="dots">
            <div id="dot" v-for="(photo, index) in photos" :class="(index == counter) ? 'selected' : '' " @click="goTo(index)">
                <span class="iconify" data-icon="akar-icons:circle-fill" data-inline="false"></span>
            </div>
        </div>
        
    </div>

    <script src="js/script.js"></script>

</body>
</html>